.header{
  position: relative;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 200px 4fr 1fr 100px;
  border-bottom: 1px solid gainsboro;
}
.main_logo img{
  width: 180px;
  height: 180px;
  margin-left: 10px;
}
.main_logo:hover{
  cursor: pointer;
}
.search_form{
  margin: auto;
}
.search_form input{
  border: none;
  border-bottom: 2px solid black;
}
.search_form button{
  background: none;
  border: none;
}
.header > button{
  width: 60px;
  height: 30px;
  margin: auto;
  background-color: orange;
  color: aliceblue;
  border: none;
  border-radius: 1em;
}
.header button:hover{
  cursor: pointer;
}
.login_container{
  position: relative;
}
.login_popup{
  position: absolute;
  width: 300px;
  height: 500px;
  border: 3px solid red;
}
.hidden{
  display: none;
}
.profile{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile_icon{
  font-size: 30px;
  color: orange;
  width: fit-content;
  margin-left: 35%;
  margin-top: 30px;
}
.log_btn{
  border: none;
  border-radius: 1em;
  background-color: orange;
  color: white;
  padding: 5px;
  width: 80%;
  margin: auto;
}
.log_btn:hover{
  background-color: red;
  transition: all 0.3s ease;
}