.home > img{
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%);
}
.rank, .community_container{
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 30%;
  text-align: center;
}
.rank{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.rank > div{
  width: inherit;
  height: inherit;
  border: 2px solid pink;
  border-radius: 1em;
  margin: auto;
  text-align: center;
}
.rank_title{
  border-bottom: 1px solid gainsboro;
  width: 90%;
  height: fit-content;
  margin: auto;
  padding: 10px;
}
.rank_title > a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.rank_title > a:hover{
  cursor: pointer;
  color: rgb(242, 80, 107);
  transition: all 0.3s ease;
}
.rank_user{
  display: grid;
  grid-template-columns: 30px 1fr 1fr;
  padding: 5px;
}
.rank_user > p{
  font-weight: bold;
  margin: 5px;
}
.medal{
  font-size: 25px;
  float: left;
}
.gold{
  color: gold;
}
.silver{
  color: silver;
}
.bronze{
  color: #CD7F32;
}
.community_container{
  border: 2px solid pink;
  border-radius: 1em;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}
.community_container > p{
  border-bottom: 1px solid gainsboro;
  width: 70%;
  margin: auto;
  padding: 20px;
  overflow: hidden;
}
a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover{
  cursor: pointer;
  transition: all 0.3s ease;
  color: rgb(242, 80, 107);
  ;
}